<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    {% include 'cdnlines.html' %}

    <style>
        input[name]{

            width: 50%;
            margin-bottom: 15px;
            margin-left: 300px;

        }

        input[value]{

            width:50%;
            margin-left: 300px;
            margin-bottom: 10px;

        }

        #id1{
        
            margin-left: 300px;

        }

        #paragraph1{

            font-family: cooper;
            color:maroon;

        }

    </style>

</head>
<body>
    
    <form class="border border-light p-5" method="POST">

    {% csrf_token %}

    <p class="h4 mb-4 text-center" id="paragraph1">Sign Up</p>

    <input type="text" name="fname" class="form-control" placeholder="First name" >

    <input type="text" name="lname" class="form-control" placeholder="Last name">

    <input type="email" name="email" class="form-control" placeholder="E-mail">

    <input type="text" name="pnumber" class="form-control" placeholder="Phone number">

    <input type="password" name="password" class="form-control" placeholder="Password">

    <small class="form-text text-muted mb-4" id="id1">Minimum 8 characters length</small>

    <input type="submit" value="Sign Up" class="btn btn-success">

    <div class="text-center">
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="#" target="_blank">terms</a> and
            <a href="#" target="_blank">conditions of service</a>.
        </p>
    </div>

    <div class="text-center">
        <p>Already Registered?
            <a href="login">Login</a>
        </p>
    <div>

</form>

</body>
</html>